*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #800080;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: 'Space Grotesk', sans-serif;
  overflow-x: hidden;
}

.wrapper {
  z-index: 5;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.appWrapper {
  background: rgba(255, 255, 255, 0.8);
  min-width: 100%;
  min-height: 350px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.diceWrapper {
  margin: 25px 0;
}

#rollBtn, #resetBtn{
  background: #800080;
  width: 150px;
  height: 50px;
  color: #fff;
  border: 1px solid #800080;
  border-radius: 10px;
  font-size: 15pt;
  cursor: pointer;
  font-weight: 600;
  margin-top: 50px;
  margin: 0 10px;
  font-family: 'Space Grotesk', sans-serif;
}

#rollBtn:hover, #resetBtn:hover {
  background: #610061;
}

#rollBtn:active, #resetBtn:active {
  transform: translateY(5px);
}

.diceWrapper {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}

.dieStyle{
  width: 75px;
  height: 75px;
  font-size: 20pt;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #fff;
}

.dieStyle:hover {
  border-color: #800080;
}

.watermark {
  border-radius: 50px;
  background: #fff;
  text-align: center;
  padding: 0.50rem 0.75rem;
  text-decoration: none;
  color: #000;
  margin: 2.5rem 0;
  max-width: 200px;
}

.watermark:hover {
  color: #800080;
  background: #ffffffe1;
}

.winMsg {
  margin: 25px 0;
}

#fireworks {
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .diceWrapper {
    grid-template: auto auto / repeat(3, 1fr);
   }
}